<!DOCTYPE html>
<html>
        <head>
                <title>BLOOP-OFF</title>
                <script src="/socket.io/socket.io.js"></script>
        </head>
        <body>
                <svg id="show"></svg>
                <br />
                <input value="0" class="time" type="range" min="0" max="100" />
                <button style="display: block;" id="submit">Start Show</button>
                <svg id="drawing"></svg>
        </body>
</html>